@charset "UTF-8";

/* Colors: 

green: #49a09d
violet #5f2c82

 */

 * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body, html {
    background-color: #766880;
    height: 100vh;
    width: 100vw;
 }

 main {
    position: relative;
    height: 100vh;
    width: 100vw;
 }

 section#login {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 285px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
    transition: width .3s, heigth .3s;
    transition-timing-function: ease;

 }

 section#login > div#image {
    display: block;
    background: #5f2c82 url('../imgs/building1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
 }

 section#login > div#form {
    display: block;
    padding: 10px;

 }

 div#form > h1 {
    text-align: center;
    margin-bottom: 10px;

 }

 div#form > p {
    font-size: 0.8em;
 }

 form > div.camp {
    background-color: rgb(199, 152, 152);
    display: block;
    width: 100%;
    height: 44px;
    border-radius: 5px;
    margin: 5px 0px;
 }

 #form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgba(99, 116, 99, 0.623);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 10px;
 }

 #form > input[type=submit]:hover {
    background-color: gray;
 }

 #form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
    text-decoration: none;
    padding-top:5px;
    margin-top: 5x;
    color: rgb(110, 107, 107);
 }

 #form > a.botao:hover {
    background-color: rgb(185, 185, 185);
 }

 .material-symbols-outlined {
    width: 40px;
    margin-left: 4px;
    padding-top: 5px;    
    font-size: 4em;
    color: white;
}

div.camp > input {
  background-color: rgb(217, 231, 238);
  width: 210px;
  height: 30px;
  border-radius: 5px;
}

label {
    color: black;
    font-weight: 450;
}

p {
    padding: 4px 0;
    text-align: center;
}