@charset "UTF-8";

/* Colors: 

green: #49a09d
violet #5f2c82

 */

 * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
 }

 main {
    position: relative;
    height: 100vh;
    width: 100vw;
 }

 section#login {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
 }

 section#login > div#image {
    display: block;
    background: #5f2c82 url('../imgs/building1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
 }

 section#login > div#form {
    display: block;
    padding: 10px;

 }